
h3 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-align: left;
    color: #64532C;
}

.workshop {
   background-image: url("images/hands.jpg");
   opacity: 0.8; /* 80% oppacity */
   width: 100%;
   height: 920px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   background-size: cover; /* cover the whole screen */
   background-position: center;   
   
}

.text-overlay {
    position: absolute;
    top: 2%;
    left: 11%;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: left;
}

.text {
    margin-top:160px; /* afstand fra top */
    background-color: rgba(255, 255, 255, 0.8); /* 80% oppacity */
    padding: 15px 40px; /* top/bottom left/right */
    border-radius: 20px; 
    text-align: left;
    width:320px; /* width of the box */
    height:350px; /* height of the box */
}

.container1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 120px;
    gap: 0px; /* mellemrum mellem items */ 
}

.container2 {
    margin-top: 220px;
}

.hyggeaften-section {
background-color: #EADFC9; 
text-align: center;
padding: 80px 0px; /* top/bottom left/right */

}

.content {
    text-align: center;
    max-width: 600px;
    margin: auto; /*centrer teksten indefor max-width*/
}

/*sektion med flex container*/

.two-column-section {
    display: flex;
    justify-self: space-around;
    width: 100%;
    height: 5%;
    justify-content: space-between; /* items er lige store og fylder hele bredden */
    background-color: #F7F1E3;

}

li {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:16px;
    color:#64532C;
    text-align: left;
}

.content2 ul li {
    list-style-type: decimal;
    padding-left: 10px; 
    text-decoration: none;
}

.content2 {
    display: flex; 
    flex-direction: column;
    width: 35%;
    text-align: left;
    justify-content: center;
    align-items: left;
    padding-left: 100px;
}

.cozyroom {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 50%;
    justify-content: right;
}