.section1 {

    position: relative;
    margin:0; 
    z-index: -1;
    width: auto;
    height: 800px;
    margin-top: calc(70px); /* det samme som header height */
    background-color: #F7F1E3;
    display: flex;
    flex-direction: row;
    gap:10px;
}

.match-din-garderobe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    width:500px;
    height:600px;
    padding:30px 150px;
}


.group1 {
    display: flex;
    border-color: #B8A05A;
    width: 500px;
    height:700px;
    margin: 50px 80px 0px 5px; /* top right bottom left */
    border-radius: 20px;
}

.section2 {
 
    background-color: #EADFC9;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-self: center;
    gap:10px;

}

.content-column-1 {
    
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: flex-start;
    gap:10px;
    margin-left:100px;
    margin-top: 5px;
    padding-left: 100px;
}


.content-column-2 {
    
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: flex-start;
    gap:10px;
    padding: auto;

}

.section2 img {
    width:400px;
    height:200px;
    border-radius: 5px;
    

    
}

.content-column-1 a {
    text-decoration: underline;
    color: #B8A05A;
    padding:5px;
   
    
}
.content-column-2 a {
    text-decoration: underline;
    color: #B8A05A;
    padding:5px;
   

}

.moodboard-content-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left; 
    width:400px;
    

}
    

.moodboard-content-text p {
    margin-left:10px;
}

button {
    background-color:#B8A05A; 
    color:#fff; 
    border-radius: 8px;
    width:150px; 
    height:30px; 
    border:none; 
    border: none;
    text-align:center; 
    text-decoration: none; 
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:12px;
 }
 
