

/* CSS for perletyper.html */

h4 {
    font-family: poppins, sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size:14px;
    font-style: normal;
    color: #B8A05A; 
    text-decoration: underline;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: #F7F1E3;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.perletyper {
    background-color: rgba(255, 255, 255, 0.4); /* 40% oppacity */
    padding: 30px;
    border-radius: 15px;
    max-width: 850px;
    margin: auto;
    
}

.perler-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr); /* 4 items pr. række */
    flex-direction: column;
    gap: 30px; /* mellemrum mellem items */
    align-items: center;
    justify-content: center;
   
    

}

.item img {
    width: 45%;
    height: 75px;
    border-radius: 50%;
    
}



